update 8198 anyway?

While any update we could do to 8198 would be without function, there's still wrong language in 5.4 and perhaps it would be better to 'delete' the third paragraph (because it's no longer true after this document) and fourth paragraph (because resolvers should not do that and if they did, it would just be wasted cycles) or replace them with a clarification.

was:

> 5.4.  Consideration on TTL
> 
>    The TTL value of negative information is especially important,
>    because newly added domain names cannot be used while the negative
>    information is effective.
> 
>    Section 5 of [RFC2308] suggests a maximum default negative cache TTL
>    value of 3 hours (10800).  It is RECOMMENDED that validating
>    resolvers limit the maximum effective TTL value of negative responses
>    (NSEC/NSEC3 RRs) to this same value.
> 
>    Section 5 of [RFC2308] also states that a negative cache entry TTL is
>    taken from the minimum of the SOA.MINIMUM field and SOA's TTL.  This
>    can be less than the TTL of an NSEC or NSEC3 record, since their TTL
>    is equal to the SOA.MINIMUM field (see [RFC4035], Section 2.3 and
>    [RFC5155], Section 3).
> 
>    A resolver that supports aggressive use of NSEC and NSEC3 SHOULD
>    reduce the TTL of NSEC and NSEC3 records to match the SOA.MINIMUM
>    field in the authority section of a negative response, if SOA.MINIMUM
>    is smaller.

perhaps change like this:

> 5.4.  Consideration on TTL
>
keep:
>    The TTL value of negative information is especially important,
>    because newly added domain names cannot be used while the negative
>    information is effective.
>
keep:
>    Section 5 of [RFC2308] suggests a maximum default negative cache TTL
>    value of 3 hours (10800).  It is RECOMMENDED that validating
>    resolvers limit the maximum effective TTL value of negative responses
>    (NSEC/NSEC3 RRs) to this same value.
>
remove:
>    Section 5 of [RFC2308] also states that a negative cache entry TTL is
>    taken from the minimum of the SOA.MINIMUM field and SOA's TTL.  This
>    can be less than the TTL of an NSEC or NSEC3 record, since their TTL
>    is equal to the SOA.MINIMUM field (see [RFC4035], Section 2.3 and
>    [RFC5155], Section 3).
>
update:
>    A resolver that supports aggressive use of NSEC and NSEC3 MAY
>    limit the TTL of NSEC and NSEC3 records to the lesser of the SOA.MINIMUM
>    field and the TTL of the SOA in a response, if present.
>    It MAY also use a previously cached SOA for a zone to find these values.

I like this.

done